.container {
    position: relative;
    border: solid;
    height: 800px;
}

.nav {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    border: solid;
    width: 10%;
}

.content {
    position: absolute;
    left: 10%;
    right: 0px;
    border: solid;
}

.fotter {
    position: absolute;
    bottom: 0px;
    border: solid;
    width: 100%;
}